.calendar {
  .cells {
    display: grid;
    width: 700px;
    height: 700px;
    grid-template-columns: repeat(7, 1fr);
    grid-template-rows: repeat();
    gap: 1px;
    .cell {
      background-color: white;
    }
  }
}
